.extraList{
    display: none;
    top: 40px;
    background-color: aqua;
}
.extraList li{
    list-style: none;
    text-align: left;
    
}
.extraListTitle:hover .extraList{
    display: block;
   
}
