.intro{
    padding-top: 80px;
    background: url("../../img/bg-baner.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 600px;
    margin-bottom: 120px;
    
}
.intro::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0,0,0,.65);
}