.intro{
    padding-top: 80px;
    background: url("../../img/bg-banner1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
.intro__title{
    font-size: 37px;
    font-weight: 500;
    margin: 16px;
}
.intro__subtitle{
    font-size: 20px;
    font-weight: 400;
}