.social-link{
    padding: 0;
    
    li{
        font-size: 30px;
        margin: 10px 5px;
        list-style: none;
    }
    li:hover, li:active, li:focus{
        color: #fff;
        cursor: pointer;
    }    

    li:hover, li:active, li:focus{
        color: #fff;
        cursor: pointer;
    }
    ul{
        
    }
}