.card-job{
    &__block{
        background-color: #f8f8f8;
        border: 1px solid #eee;
        border-bottom: 1px solid #b63b3b;
        border-radius: 5px;
        box-shadow: cornsilk;
        margin-bottom: 3px;
    }
    &__header{
        font-weight: 400;
    }
    &__meta_contract{
        padding: 4px 8px;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 1px;
        font-weight: 700;
    }
    

} 
.title-job{
    width: 10%;
}