.footer{
    padding: 40px 0 20px;
    background: #262c31;
    font-size: 16px;
    line-height: 28px;
    color: #7e8890;
    
    h6{
        color:#fff
    }
    ul{
        padding-left: 0;
        list-style: none;
    }
    li:hover, li:active, li:focus{
    color: #fff;
    cursor: pointer;
    }
    hr{
        background: #7e8890;
    }
    .social-list{
        font-size: 30px;
        margin: 10px 0;
    }
}