.categories{
    &__grid{
        display: grid;
        gap: 30px;
       grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
       justify-content: center;
    }
}

.categories-block{

    border: #55595c 1px solid;
    
    img{
        max-width: 50%;
    }
    h4{
        color: #55595c;
       
    }
}
